<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SquaredInfinity.BulkUpdates" version="2.1.8-beta001" targetFramework="net452" />
  <package id="SquaredInfinity.Collections.CollectionEx" version="2.1.14-beta001" targetFramework="net452" />
  <package id="SquaredInfinity.Collections.Core" version="2.1.12-beta001" targetFramework="net452" />
  <package id="SquaredInfinity.Comparers" version="2.0.6" targetFramework="net452" />
  <package id="SquaredInfinity.ComponentModel" version="2.1.0" targetFramework="net452" />
  <package id="SquaredInfinity.Disposables" version="2.0.10" targetFramework="net452" />
  <package id="SquaredInfinity.Extensions" version="2.1.1" targetFramework="net452" />
  <package id="SquaredInfinity.Threading" version="2.0.16-beta001" targetFramework="net452" />
  <package id="SquaredInfinity.Threading.Locks" version="2.1.14-beta001" targetFramework="net452" />
  <package id="SquaredInfinity.Types.Description" version="2.1.0" targetFramework="net452" />
  <package id="SquaredInfinity.Types.Description.IL" version="2.1.0" targetFramework="net452" />
  <package id="SquaredInfinity.Types.Description.Reflection" version="2.1.0" targetFramework="net452" />
  <package id="SquaredInfinity.Types.Mapping" version="2.1.0" targetFramework="net452" />
</packages>