<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Extensions" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.3" newVersion="2.0.2.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Maths.Extensions" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Primitives" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>