<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SquaredInfinity.Clipboard" version="2.0.3" targetFramework="net452" />
  <package id="SquaredInfinity.Clipboard.CF_HTML" version="2.0.0" targetFramework="net452" />
  <package id="SquaredInfinity.DataStructures.Algorithms.Trees" version="2.0.2" targetFramework="net452" />
  <package id="SquaredInfinity.Extensions" version="2.0.6" targetFramework="net452" />
  <package id="SquaredInfinity.Maths.Extensions" version="2.0.3" targetFramework="net452" />
  <package id="SquaredInfinity.Primitives" version="2.0.7" targetFramework="net452" />
  <package id="SquaredInfinity.Windows.Extensions" version="2.0.4" targetFramework="net452" />
</packages>