<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SquaredInfinity.Maths.Extensions" version="2.0.2-beta006" targetFramework="portable45-net45+win8" />
  <package id="SquaredInfinity.Maths.RandomNumbers" version="2.0.1" targetFramework="portable45-net45+win8" />
  <package id="SquaredInfinity.Primitives" version="2.0.7-beta001" targetFramework="portable45-net45+win8" />
</packages>